<app-header></app-header>

<router-outlet>
  <div class="title">
    <h2>Click on the piano you want</h2>
  </div>
  <div class="piano-grid">
    <mat-grid-list gutterSize="20" cols="2" rowHeight="2:1">
      <mat-grid-tile class="tile tile1"></mat-grid-tile>
      <mat-grid-tile class="tile tile2"></mat-grid-tile>
      <mat-grid-tile class="tile tile3"></mat-grid-tile>
      <mat-grid-tile class="tile tile4"></mat-grid-tile>
    </mat-grid-list>
  </div>
</router-outlet>

<app-footer></app-footer>
