<p>piano-form works!</p>
<h2 mat-dialog-title>{{ isUpdateMode ? "Update" : "Add" }} piano form</h2>

<form [formGroup]="piano0Form" (ngSubmit)="onSubmit(pianoForm.value)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="pianoName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>link</mat-label>
      <input matInput formControlName="link" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>keyWords</mat-label>
      <input matInput formControlName="keyWords" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>pianolId</mat-label>
      <input matInput formControlName="pianoId" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="float-right">
    <button mat-button (click)="closeForm()">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!pianoForm.valid"
    >
      {{ isUpdateMode ? "Modifier" : "Ajouter" }}
    </button>
  </mat-dialog-actions>
</form>
